In [5]:
from geopy.geocoders import Nominatim
import pandas
nom=Nominatim(user_agent="my-app-jupyter-test")

In [12]:
# Try out the geocode API
nom.geocode("735 Dolores St, San Francisco, USA")

Location(735, Dolores Street, Liberty Street Historic District, SF, California, 94110, USA, (37.7577257083333, -122.425529333333, 0.0))

In [7]:
# Read in our list of supermarket data
supermarkets=pandas.read_json('supermarkets.json')

In [10]:
# Create a custom fields to store the full address to be used for geocoding
supermarkets['Full Address'] = supermarkets['Address'] + ", " + supermarkets['City'] + ", " + supermarkets['Country'] 
supermarkets

,Address,City,Country,Employees,ID,Name,State,Full Address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, USA"

In [11]:
# Now apply the call to nom.geocode too the new 'Full Address' field
supermarkets['geo']=supermarkets['Full Address'].apply(nom.geocode)
supermarkets

,Address,City,Country,Employees,ID,Name,State,Full Address,geo
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, USA","(3666, 21st Street, Noe Valley, SF, California..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, USA","(735, Dolores Street, Liberty Street Historic ..."
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, USA","(332, Hill Street, Noe Valley, SF, California,..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, USA","(3995, 23rd Street, Noe Valley, SF, California..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, USA","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, USA","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [13]:
# Extract out the lat and lon values from the geo object stored in the geo column
supermarkets['lat']=supermarkets['geo'].apply(lambda x: x.latitude if x!=None else None)
supermarkets['lon']=supermarkets['geo'].apply(lambda x: x.longitude if x!=None else None)
supermarkets

,Address,City,Country,Employees,ID,Name,State,Full Address,geo,lat,lon
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, USA","(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, USA","(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, USA","(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, USA","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, USA","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, USA","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220